<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-img  src="../../assets/App moviles.png"/>
    <ion-card-header>
      <ion-card-title>Materia de aplicaciones moviles</ion-card-title>
      <ion-card-subtitle>Introducción</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>

</ion-content>
